fieldset {border-radius: 6px;}
input {cursor:pointer;}

.content {display: none; padding:20px 10px 10px 20px;}
.content_active {display: block;}
.navpanel {position:absolute;top:0;left:0;color:#ffffff;text-align:center;width:100%;}
.navpanel div {cursor:pointer;background:#eaa700;padding:5px 10px 5px 10px;display:inline-block;vertical-align:top;}
.navpanel div.active {background:#ffbe1c;color:#775500;}
.navpanel div:hover {padding-top:15px;}

#content_std input {font-size: 18pt; border-radius: 15px; margin: 5px; padding: 16px 27px;}
input[data-value] {color: white;}
input[data-value="0"] {background: #c70005;}
input[data-value="1"] {background: green;}

.content_block_right {text-align:right;}

/* для скриптов */

.hidden {
    display: none !important;
}

/* Вкладка "Кнопки" */

.btns_category_name {
    width:100%;
    background: #eee;
    padding: 10px 5px;
}

.btns_category.btns_editing .btns_category_name {
    width: calc(100% - 4px);
    border: 2px dashed #aaa;
    border-radius: 7px;
}

.btns_button {
    margin: 15px 7px;
    padding: 7px 13px;
    border-radius: 6px;
}

.btns_button.btns_editing {
    border: 2px dashed #aaa;
}

.btns_group.btns_editing input {
    border: 2px dashed #aaa;
    border-radius: 7px;
    padding: 7px 13px;
}

.btns_group {
    position: relative;
    margin: 15px 7px;
    border-radius:15px;
    border: 1px solid #aaa;
    display: inline-block;
    min-width:200px;
    min-height:40px;
    vertical-align: middle;
}
.btns_group_name {
    position: absolute;
    top: -10px;
    left: 20px;
    background: #fff;
}