fieldset {border-radius: 6px; border: 1px solid #eaa700}
input {cursor:pointer;}
legend {color:#9a6e01;}

.content_block_right {text-align:right;}

/* для скриптов */

.hidden {
    display: none !important;
}

/* навигационные вкладки и контент */

.content {display: none; padding:30px 10px 10px 10px}
.content_active {display: block;}
.navpanel {position:absolute;top:0;left:0;color:#ffffff;text-align:center;width:100%;}
.navpanel div {cursor:pointer;background:#eaa700;padding:5px 10px 5px 10px;display:inline-block;vertical-align:top;}
.navpanel div.active {background:#ffbe1c;color:#775500;}
.navpanel div:hover {padding-top:15px;}

/* вкладка стандартных кнопок */

#content_std {text-align: center;}
#content_std input {color:white; font-size: 18pt; border-radius: 15px; margin: 5px; padding: 16px 27px;}
input[data-name] {color: white;}
input[data-value="0"][data-name] {background: #c70005;}
input[data-value="1"][data-name] {background: green;}

/* консоль уведомлений */

#notes{position:fixed;bottom:0;right:0;width:100%;text-align:left; display: flex;flex-flow: wrap-reverse;}
#notes .note{background:rgba(34, 34, 34, 0.8);padding:5px;overflow-x:auto;width:100%;}
#notes .note:nth-child(2) {opacity:0.85;}
#notes .note:nth-child(3) {opacity:0.70;}
#notes .note:nth-child(4) {opacity:0.55;}

/* Вкладка "Кнопки" */

.btns_category_name {
    background: #fff6e0;
    padding: 6px 8px;
    color: #9a6e01;
    font-size: 13pt;
}

.btns_category.btns_editing .btns_category_name {
    width: calc(100% - 16px);
    border: 2px dashed #aaa;
    border-radius: 7px;
}

.btns_button {
    margin: 15px 7px;
    padding: 7px 13px;
    border-radius: 6px;
}

.btns_button.btns_editing {
    border: 2px dashed #aaa;
}

.btns_group.btns_editing input {
    border: 2px dashed #aaa;
    border-radius: 7px;
    padding: 7px 13px;
}

.btns_group {
    position: relative;
    margin: 15px 7px;
    border-radius:15px;
    border: 1px solid #eaa700;
    display: inline-block;
    min-width:200px;
    min-height:40px;
    vertical-align: middle;
}
.btns_group_name {
    position: absolute;
    top: -10px;
    left: 20px;
    background: #fff;
    color:#9a6e01;
}

/* ---------------------
 *       Windows
 * ---------------------*/

.windowWindow {
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.98);
    min-width: 240px;
    max-width: 700px;
    border-radius: 0 0 10px 10px;
    opacity:0.98;
    z-index: 1000;
    font-family: sans-serif;
    box-shadow: 0 0 25px 6px #a2bfcd;
    width: 70%;
}
.windowTitle {
    width: 100%;
    height: 30px;
    background: linear-gradient(#eaa700, #de9f00, #eaa700);
    cursor: move;
    overflow: hidden;
}
.windowTitleText {
    width: calc(99% - 30px);
    color: white;
    padding: 5px 0 0 0;
    font-size:13pt;
    text-align:center;
}
.windowBClose {
    width: 30px; height: 24px;
    border-radius:10px 10px 0 10px;
    float: right;
    color: white; text-align: center; padding-top: 6px;
    position:relative;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 100%;
}
.windowBody {
    padding: 15px;
    display: none;
    font-size: 11pt;
    /* Прокрутка содержимого */
    width: calc(100%);
    max-height: calc(95vh - 64px);
    overflow-y: auto;
}

/* --------------------------------
 *           Gallery
 * -------------------------------*/

.gallery .windowTitle {
    display: none;
}
.gallery {
    background: #000000a3;
    box-shadow: none;
    border-radius: 0;
    text-align: center;
    max-width: none;
    width: 100%;
    top: 0;
}
.gallery .windowBody {
    padding: 0;
    max-height: none;
    height: 100vh;
}
.gallery .main_image {
    max-height: 100%;
    padding: 50px 0 50px 0;
}
.gallery .buttons {
    position: fixed;
    bottom: 30px;
    width:100%;
}
.gallery .buttons input {
    padding: 5px 25px 5px 25px;
}